*{
    margin: 0;
    padding: 0;
}

main{
    background-color: aqua;
    height: 500px;
    text-align: center;
}

main h1{
    text-align: center;
    margin-bottom: 20px;
}
footer{
    background-color: aqua;
    height: 200px;
}